div.flowBlock
{
  position: absolute;
  width: auto;
  height: auto;
  margin: 0px;
  border-radius: 0px;
  background: linear-gradient(0deg, rgba(0,0,0,.1),rgba(0,0,0,.01));
  border: 1px solid black;
}

#test1
{
  left: 10px;
  top: 10px;
}

#test2
{
  opacity: 0;
  left: 100px;
  top: 10px;
}

#test3
{
  opacity: 0;
  left: 100px;
  top: 80px;
}

#test4
{
  opacity: 0;
  left: 100px;
  top: 160px;
}
#test5
{
  opacity: 0;
  left: 100px;
  top: 240px;
}

#test21
{
  opacity: 0;
  left: 200px;
  top: 10px;
}
#test22
{
  opacity: 0;
  left: 200px;
  top: 80px;
}
#test23
{
  opacity: 0;
  left: 200px;
  top: 160px;
}
#test231
{
  opacity: 0;
  left: 300px;
  top: 80px;
}
#test232
{
  opacity: 0;
  left: 300px;
  top: 160px;
}
#test233
{
  opacity: 0;
  left: 300px;
  top: 240px;
}
#test6
{
  opacity: 1;
  left: 600px;
  top: 100px;
}
#test7
{
  opacity: 1;
  left: 800px;
  top: 240px;
}